version: "3.8"

services:
  # -------------------------------------------------------------------
  # 1. INFRASTRUCTURE (RabbitMQ Local)
  # -------------------------------------------------------------------
  rabbitmq:
    image: rabbitmq:3-management
    container_name: ptk-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    networks:
      - ptk-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s

  # -------------------------------------------------------------------
  # 2. MICRO-SERVICES (NestJS + BDD Railway)
  # -------------------------------------------------------------------

  auth-service:
    build:
      context: ../ptk-auth-service
      target: development
    container_name: ptk-service-auth
    # On génère le client Prisma pour Linux AVANT de lancer le serveur
    command: sh -c "npx prisma generate && npm run start:dev"
    ports:
      - "3001:3000"
    environment:
      - PORT=3000
      - DATABASE_URL=${AUTH_DATABASE_URL}
      - JWT_SECRET=SUPER_SECRET_KEY_A_CHANGER_DANS_ENV
      - RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - ptk-network
    volumes:
      - ../ptk-auth-service:/usr/src/app
      - /usr/src/app/node_modules

  client-service:
    build:
      context: ../ptk-client-service
      target: development
    container_name: ptk-service-clients
    command: sh -c "npx prisma generate && npm run start:dev"
    ports:
      - "3002:3000"
    environment:
      - PORT=3000
      - DATABASE_URL=${CLIENT_DATABASE_URL}
      - JWT_SECRET=SUPER_SECRET_KEY_A_CHANGER_DANS_ENV
      - RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - ptk-network
    volumes:
      - ../ptk-client-service:/usr/src/app
      - /usr/src/app/node_modules

  product-service:
    build:
      context: ../ptk-product-service
      target: development
    container_name: ptk-service-products
    command: sh -c "npx prisma generate && npm run start:dev"
    ports:
      - "3003:3000"
    environment:
      - PORT=3000
      - DATABASE_URL=${PRODUCT_DATABASE_URL}
      - JWT_SECRET=SUPER_SECRET_KEY_A_CHANGER_DANS_ENV
      - RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - ptk-network
    volumes:
      - ../ptk-product-service:/usr/src/app
      - /usr/src/app/node_modules

  order-service:
    build:
      context: ../ptk-order-service
      target: development
    container_name: ptk-service-orders
    command: sh -c "npx prisma generate && npm run start:dev"
    ports:
      - "3004:3000"
    environment:
      - PORT=3000
      - DATABASE_URL=${ORDER_DATABASE_URL}
      - JWT_SECRET=SUPER_SECRET_KEY_A_CHANGER_DANS_ENV
      - RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - ptk-network
    volumes:
      - ../ptk-order-service:/usr/src/app
      - /usr/src/app/node_modules

  # -------------------------------------------------------------------
  # 3. MONITORING
  # -------------------------------------------------------------------
  prometheus:
    image: prom/prometheus
    container_name: ptk-prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - ptk-network

  grafana:
    image: grafana/grafana
    container_name: ptk-grafana
    ports:
      - "3005:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - ptk-network

networks:
  ptk-network:
    driver: bridge
